<head>
    <%= stylesheet_link_tag '/assets/list_edit.css', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="list-container">
    <h1>リスト編集ページ</h1>

    <%= form_with model: @list, local: true do |f| %>
        <p>ToDo</p>
        <%= f.text_field :content, id: "content", class: "content" %>
  
        <%= f.submit "更新", class: "edit-btn" %>
    <% end %>
</div>