<head>
    <%= stylesheet_link_tag '/assets/list_new.css', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="list-container">
    <h1>リスト作成ページ</h1>

    <%= form_with model: @list do |f| %>
        <p>ToDo</p>
        <%= f.text_field :content, id: "content", class: "content" %>
  
        <%= f.submit "登録", class: "new-btn" %>
    <% end %>
</div>