/* app/assets/stylesheets/list_index.css */

/* ベーススタイルのリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin-top: 20px;
    margin-left: 30px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.no-list {
  justify-content: centent;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 100px;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 90%;
    cursor: pointer;
}

.list-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-link {
    display: block;
    width: 90%;
    padding: auto;
    text-decoration: none;
    color: #333;
    flex-grow: 1;
}

.list-content {
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.delete-btn i {
    font-size: 1.5em;
}

.delete-btn:hover {
    color: darkred;
}

/* 追加フォームと編集フォーム共通のスタイル */
.edit-form-container, .add-form-container {
    position: fixed;
    top: 30%;
    left: 10%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease;
    width: 80%;
  }
  
  .hidden {
    display: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  .edit-form, .add-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-content {
    font-size: 25px;
    width: 95%;
    height: auto;
    resize: none;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin: auto;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .close-btn:hover {
    color: #007bff;
  }
  
  /* 他のスタイルは変更なし */

/* プラスアイコン */
.add-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 3em;
    color: #007bff;
    cursor: pointer;
}

.add-icon-container:hover {
    color: #0056b3;
}

@media (max-width: 767px) {
  .edit-form-container, .add-form-container {
    top: 15%;
    left: 5%;
    width: 90%;
  }

  .form-content {
    height: 110px;
  }

  .no-list {
    font-size: 35px;
  }
}